{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block content %}

<h1 class="text-center m-5">{% trans "Sign In" %}</h1>

<div class="container form-width mb-5">

  <p class="text-center ">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

  <form class="form p-2" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    
    <div class="text-center">
      <button class="my-button green-button mb-3" type="submit" aria-label="Sign in to your account">
        <i class="fa-solid fa-arrow-right-to-bracket"></i> {% trans "Sign In" %}
      </button>
      <a class="secondaryAction d-block" href="{% url 'account_reset_password' %}">
        {% trans "Forgot Password?" %}
      </a>
    </div>
  </form>
</div>
{% endblock content %}
