{% extends 'base.html' %}

{% block title %}
Add Journal Entry
{% endblock %}

{% block content %}
<h1 class="text-center m-5">Add Journal Entry</h1>
<div class="container">
    <form method="POST" class="p-2 form-width d-flex flex-column m-auto">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mb-5">
            <a href="{% url 'journal' %}" class="my-button red-button mt-2" aria-label="Cancel adding journal entry">
                <i class="fa-solid fa-xmark"></i> Cancel
            </a>
            <button type="submit" class="my-button green-button mt-2" aria-label="Save journal entry">
                <i class="fa-regular fa-floppy-disk"></i> Save
            </button>
        </div>
    </form>
</div>
{% endblock %}
