{% extends 'base.html' %}

{% block title %}
Edit Journal Entry
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" class="p-2">
        <h1 class="text-center">Edit Recipe</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
            <a href="{% url 'journal' %}" class="my-button red-button mt-2"><i class="fa-solid fa-xmark"></i> Cancel</a>
            <button type="submit" class="my-button green-button mt-2"><i class="fa-regular fa-floppy-disk"></i>
                Save</button>
        </div>
    </form>
</div>
{% endblock %}