{% extends "base.html" %}

{% block content %}
<!-- Header -->
<h1 class="text-center p-2 mt-4">My Journal</h1>

<!-- Add new journal entry button -->
<div class="container w-75">
    <div class="d-flex justify-content-end">
        <a href="{% url 'add_journal_entry' %}" class="button green-button bold-button" title="Create new entry">+</a>
    </div>
</div>

<!-- Journal entry list -->
<div class="container">

    <div class="row d-flex justify-content-center">



        <div class="col-10 p-5">
            <a href="" class="journal-card" aria-label="click to view ">
                <div class="card">
                    <div class="card-header container">
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="card-title"></h2>

                    <p class="card-text mb-3"></p>
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
        </div>
        </a>
    </div>


</div>
</div>

{% endblock %}